.root {
	-fx-font-family: "Droid Sans";
	-fx-font-size: 16px;
}

.menu-bar {
	/*-fx-background-color: #FA3D1B;*/
}

#left-pane {
	-fx-background-color: #fdaca8;
	-fx-padding: 4em;
	-fx-max-width: 300px;
}

#current-top-pane {
	-fx-background-color: #fedcda;
}

#current-player-text {
	-fx-text-fill: 0,0,255;
}

#game-window {
	-fx-background-color: #6699ff;
}